<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>支払方法一覧</h1>
    <%= link_to '新規支払方法', new_payment_method_path, class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="table payment-methods-index-table" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 150px;">名前</th>
          <th style="width: 300px;">説明</th>
          <th style="width: 100px;">ステータス</th>
          <th style="width: 270px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @payment_methods.each do |payment_method| %>
          <tr>
            <td><small><%= payment_method.name %></small></td>
            <td><small><%= payment_method.description %></small></td>
            <td>
              <span class="<%= active_status_badge_class(payment_method.active) %>"><%= active_status_badge_text(payment_method.active) %></span>
            </td>
            <td>
              <%= render 'shared/index_action_buttons',
                          show_path: payment_method_path(payment_method),
                          edit_path: edit_payment_method_path(payment_method),
                          delete_path: payment_method_path(payment_method) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'shared/pagination', collection: @payment_methods %>

  <%= render 'shared/masters_back_button' %>
</div>