<div class="container mt-4">
  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white">
      <h1 class="mb-0">支払方法の詳細</h1>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-3 fw-bold">ID</div>
        <div class="col-md-9"><%= @payment_method.id %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">名前</div>
        <div class="col-md-9"><%= @payment_method.name %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">説明</div>
        <div class="col-md-9"><%= @payment_method.description %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">ステータス</div>
        <div class="col-md-9">
          <span class="<%= active_status_badge_class(@payment_method.active) %>"><%= active_status_badge_text(@payment_method.active) %></span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">作成日時</div>
        <div class="col-md-9"><%= @payment_method.created_at.strftime('%Y/%m/%d %H:%M') %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">更新日時</div>
        <div class="col-md-9"><%= @payment_method.updated_at.strftime('%Y/%m/%d %H:%M') %></div>
      </div>
    </div>
    <div class="card-footer">
      <%= render 'shared/show_action_buttons', edit_path: edit_payment_method_path(@payment_method), delete_path: payment_method_path(@payment_method), back_path: payment_methods_path %>
    </div>
  </div>
</div>