<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>マスター一覧</h1>
    <% if current_administrator&.admin? %>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-outline-danger' %>
    <% end %>
  </div>

  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert.present? %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">顧客マスター</h5>
          <p class="card-text">顧客情報の管理</p>
          <%= link_to '顧客マスターへ', customers_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">商品マスター</h5>
          <p class="card-text">商品情報の管理</p>
          <%= link_to '商品マスターへ', products_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">税率マスター</h5>
          <p class="card-text">税率情報の管理</p>
          <%= link_to '税率マスターへ', tax_rates_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    
    <% if current_administrator&.admin? %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">管理者マスター</h5>
            <p class="card-text">管理者アカウントの管理</p>
            <%= link_to '管理者マスターへ', administrators_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- 支払方法マスターカードを追加 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">支払方法マスター</h5>
          <p class="card-text">支払方法の管理を行います。</p>
          <%= link_to '管理する', payment_methods_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div> 