<% if order.invoiced? %>
  <%= link_to invoice_path(order.invoices.first), class: "text-decoration-none" do %>
    <span class="<%= invoice_status_badge_class(order.invoiced?) %>"><%= invoice_status_badge_text(order.invoiced?) %></span>
  <% end %>
<% else %>
  <span class="<%= invoice_status_badge_class(order.invoiced?) %>"><%= invoice_status_badge_text(order.invoiced?) %></span>
<% end %>

