<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>顧客マスター</h1>
    <div class="btn-group">
      <%= link_to 'CSVアップロード', import_csv_customers_path, class: 'btn btn-outline-primary' %>
      <%= link_to '新規顧客登録', new_customer_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <!-- 検索フォーム -->
  <div class="card mb-4">
    <div class="card-body">
      <%= form_with url: customers_path, method: :get, local: true, class: "row g-3" do |form| %>
        <div class="col-md-4">
          <label for="customer_code_search" class="form-label">顧客コードで検索</label>
          <%= form.text_field :customer_code,
                              id: "customer_code_search",
                              class: "form-control",
                              placeholder: "顧客コードを入力",
                              value: params[:customer_code] %>
        </div>
        <div class="col-md-4">
          <label for="company_name_search" class="form-label">顧客名で検索</label>
          <div class="position-relative">
            <%= form.text_field :company_name,
                                id: "company_name_search",
                                class: "form-control",
                                placeholder: "顧客名を入力",
                                value: params[:company_name],
                                autocomplete: "off" %>
            <div id="company_name_suggestions" class="autocomplete-results position-absolute w-100 bg-white border rounded shadow-lg d-none"></div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
          <div class="btn-group w-100" role="group">
            <%= form.submit "検索", class: "btn btn-primary" %>
            <%= link_to "クリア", customers_path, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table customers-index-table" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 120px;">顧客コード</th>
          <th style="width: 320px;">顧客名</th>
          <th style="width: 160px;">電話番号</th>
          <th style="width: 160px;">FAX番号</th>
          <th style="width: 160px;">支払い方法</th>
          <th style="width: 130px;">請求方法</th>
          <th style="width: 100px;">請求締日</th>
          <th style="width: 140px;">操作</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><small><%= customer.customer_code %></small></td>
            <td><small><%= customer.company_name %></small></td>
            <td><small><%= customer.phone_number %></small></td>
            <td><small><%= customer.fax_number %></small></td>
            <td><small><%= customer.payment_method&.name || '未設定' %></small></td>
            <td>
              <%= render 'shared/invoice_delivery_method_badge', customer: customer %>
            </td>
            <td><small><%= customer.billing_closing_day_display %></small></td>
            <td>
              <%= render 'shared/index_action_buttons',
                          show_path: customer_path(customer),
                          edit_path: edit_customer_path(customer),
                          delete_path: customer_path(customer) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'shared/pagination', collection: @customers %>

  <%= render 'shared/masters_back_button' %>
</div>