<tr class="nested-fields">
  <td style="width: 80px;">
    <input type="text"
           name="order[order_items_attributes][<%= f.index %>][product_code]"
           id="order_order_items_attributes_<%= f.index %>_product_code"
           class="form-control product-code-input"
           style="width: 100%;"
           placeholder="商品コード"
           value="<%= f.object.product&.product_code || '' %>">
  </td>
  <td style="width: 140px;">
    <div class="autocomplete-container" style="position: relative;">
      <%= f.hidden_field :product_id %>
      <%= f.hidden_field :product_name_override %>
      <input type="text"
             class="form-control product-search"
             placeholder="商品名または商品コードを入力"
             value="<%= f.object.display_product_name %>"
             autocomplete="off"
             style="width: 100%;">
      <div class="autocomplete-results product-results" style="display: none; position: absolute; top: 100%; left: 0; right: 0; background: white; border: 1px solid #ccc; border-top: none; max-height: 200px; overflow-y: auto; z-index: 1000;"></div>
    </div>
  </td>
  <td style="width: 60px;">
    <%= f.collection_select :product_specification_id,
        ProductSpecification.active.order(:name),
        :id,
        :name,
        { include_blank: "規格を選択", selected: f.object.product_specification_id },
        { class: "form-control product-specification-select", style: "width: 100%;" } %>
  </td>
  <td style="width: 100px;">
    <%= f.hidden_field :unit_price, class: "unit-price-input" %>
    <div class="input-group">
      <input type="number"
             class="form-control unit-price-display text-right"
             style="min-width: 60px;"
             step="1"
             min="0"
             value="<%= f.object.unit_price.present? && f.object.product_id.present? ? f.object.unit_price.to_i : '' %>"
             <%= 'readonly' if f.object.product&.fixed_price? %>>
      <div class="input-group-append">
        <span class="input-group-text">円</span>
      </div>
    </div>
  </td>
  <td style="width: 70px;">
    <%= f.hidden_field :tax_rate %>
    <span class="tax-rate-display" style="text-align: right; display: inline-block; min-width: 20px;">
      <%= f.object.tax_rate.present? && f.object.product_id.present? ? f.object.tax_rate : '' %>
    </span>%
  </td>
  <td style="width: 60px;">
    <%= f.text_field :quantity,
        { class: "form-control quantity-input", style: "width: 100%;", required: true, 
          placeholder: "数量", type: "number", step: "0.01", min: "0",
          value: f.object.quantity.present? ? number_with_precision(f.object.quantity, precision: 2, strip_insignificant_zeros: true) : '' } %>
  </td>
  <td style="width: 60px;">
    <%= f.select :unit_id, Unit.all.map { |u| [u.name, u.id] },
        { include_blank: "単位", selected: f.object.unit_id },
        { class: "form-control", style: "width: 100%;" } %>
  </td>
  <td style="width: 100px;">
    <span class="subtotal-without-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal_without_tax.present? ? number_to_currency(f.object.subtotal_without_tax, precision: 0) : number_to_currency(0, precision: 0) %>
    </span>
  </td>
  <td style="width: 100px;">
    <span class="subtotal-with-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal.present? ? number_to_currency(f.object.subtotal, precision: 0) : number_to_currency(0, precision: 0) %>
    </span>
  </td>
  <td style="width: 180px;">
    <%= f.text_field :notes, class: "form-control", placeholder: "備考", value: f.object.notes %>
  </td>
  <td class="text-center" style="width: 70px;">
    <%= f.hidden_field :_destroy %>
    <%= link_to "削除", '#', class: "btn btn-sm btn-danger remove-item" %>
  </td>
</tr>