<tr class="nested-fields">
  <td>
    <%= f.select :product_id, 
        Product.all.map { |p| 
          [p.name, 
           p.id, 
           {'data-price': p.price.present? ? p.price : '',
            'data-tax-rate': p.tax_rate.rate}] 
        },
        { include_blank: "商品を選択してください" },
        { class: "form-control product-select", style: "width: 100%;", required: true } %>
  </td>
  <td style="width: 120px;">
    <%= f.hidden_field :unit_price, class: "unit-price-input" %>
    <span class="unit-price-display" style="display: inline-block; min-width: 60px; text-align: right;">
      <%= f.object.unit_price.present? ? f.object.unit_price : 0 %>
    </span>円
  </td>
  <td style="width: 80px;">
    <%= f.hidden_field :tax_rate %>
    <span class="tax-rate-display" style="text-align: right; display: inline-block; min-width: 20px;">
      <%= f.object.tax_rate.present? ? f.object.tax_rate : 0 %>
    </span>%
  </td>
  <td style="width: 80px;">
    <%= f.select :quantity, options_for_select((1..10).map {|n| [n, n]}, nil), 
        { include_blank: "数量" }, 
        { class: "form-control quantity-select", style: "width: 100%;", required: true } %>
  </td>
  <td style="width: 80px;">
    <%= f.select :unit_id, Unit.all.map { |u| [u.name, u.id] },
        { include_blank: "単位" },
        { class: "form-control", style: "width: 100%;" } %>
  </td>
  <td style="width: 120px;">
    <span class="subtotal-without-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal_without_tax.present? ? f.object.subtotal_without_tax : 0 %>
    </span>円
  </td>
  <td style="width: 120px;">
    <span class="subtotal-with-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal.present? ? f.object.subtotal : 0 %>
    </span>円
  </td>
  <td style="width: 200px;">
    <%= f.text_field :notes, class: "form-control", placeholder: "備考" %>
  </td>
  <td class="text-center" style="width: 80px;">
    <%= f.hidden_field :_destroy %>
    <%= link_to "削除", '#', class: "btn btn-sm btn-danger remove-item" %>
  </td>
</tr> 