<tr class="nested-fields">
  <td>
    <select name="order[order_items_attributes][<%= f.index %>][product_id]"
            id="order_order_items_attributes_<%= f.index %>_product_id"
            class="form-control product-select"
            style="width: 100%;"
            required>
      <option value="">商品を選択してください</option>
      <% Product.all.each do |p| %>
        <option value="<%= p.id %>"
                data-price="<%= p.fixed_price? ? p.price.to_i : '' %>"
                data-tax-rate="<%= p.tax_rate.rate.to_i %>"
                <%= 'selected' if f.object.product_id == p.id %>><%= p.name %></option>
      <% end %>
    </select>
  </td>
  <td style="width: 120px;">
    <%= f.hidden_field :unit_price, class: "unit-price-input" %>
    <div class="input-group">
      <input type="text"
             class="form-control unit-price-display text-right"
             style="min-width: 60px;"
             value="<%= f.object.unit_price.present? && f.object.product_id.present? ? f.object.unit_price : '' %>"
             <%= 'readonly' if f.object.product&.fixed_price? %>>
      <div class="input-group-append">
        <span class="input-group-text">円</span>
      </div>
    </div>
  </td>
  <td style="width: 80px;">
    <%= f.hidden_field :tax_rate %>
    <span class="tax-rate-display" style="text-align: right; display: inline-block; min-width: 20px;">
      <%= f.object.tax_rate.present? && f.object.product_id.present? ? f.object.tax_rate : '' %>
    </span>%
  </td>
  <td style="width: 80px;">
    <%= f.select :quantity,
        (1..10).map {|n| [n, n]},
        { include_blank: true, selected: f.object.new_record? ? "" : f.object.quantity },
        { class: "form-control quantity-select", style: "width: 100%;", required: true } %>
  </td>
  <td style="width: 80px;">
    <%= f.select :unit_id, Unit.all.map { |u| [u.name, u.id] },
        { include_blank: "単位" },
        { class: "form-control", style: "width: 100%;" } %>
  </td>
  <td style="width: 120px;">
    <span class="subtotal-without-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal_without_tax.present? ? f.object.subtotal_without_tax : 0 %>
    </span>円
  </td>
  <td style="width: 120px;">
    <span class="subtotal-with-tax" style="display: inline-block; min-width: 80px; text-align: right;">
      <%= f.object.subtotal.present? ? f.object.subtotal : 0 %>
    </span>円
  </td>
  <td style="width: 200px;">
    <%= f.text_field :notes, class: "form-control", placeholder: "備考" %>
  </td>
  <td class="text-center" style="width: 80px;">
    <%= f.hidden_field :_destroy %>
    <%= link_to "削除", '#', class: "btn btn-sm btn-danger remove-item" %>
  </td>
</tr>