<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>税率マスター</h1>
    <%= link_to '新規税率登録', new_tax_rate_path, class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="table tax-rates-index-table" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 150px;">税率名</th>
          <th style="width: 100px;">税率(%)</th>
          <th style="width: 120px;">適用開始日</th>
          <th style="width: 120px;">適用終了日</th>
          <th style="width: 310px;">操作</th>
        </tr>
      </thead>

      <tbody>
        <% @tax_rates.each do |tax_rate| %>
          <tr>
            <td><small><%= tax_rate.name %></small></td>
            <td><small><%= tax_rate.rate %></small></td>
            <td><small><%= tax_rate.start_date.strftime('%Y/%m/%d') %></small></td>
            <td><small><%= tax_rate.end_date&.strftime('%Y/%m/%d') %></small></td>
            <td>
              <%= render 'shared/index_action_buttons',
                          show_path: tax_rate_path(tax_rate),
                          edit_path: edit_tax_rate_path(tax_rate),
                          delete_path: tax_rate_path(tax_rate) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'shared/pagination', collection: @tax_rates %>

  <%= render 'shared/masters_back_button' %>
</div>