<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>税率マスター</h1>
    <%= link_to '新規税率登録', new_tax_rate_path, class: 'btn btn-primary' %>
  </div>

  <% if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th>税率名</th>
              <th>税率(%)</th>
              <th>適用開始日</th>
              <th>適用終了日</th>
              <th colspan="3">操作</th>
            </tr>
          </thead>

          <tbody>
            <% @tax_rates.each do |tax_rate| %>
              <tr>
                <td><%= tax_rate.name %></td>
                <td><%= tax_rate.rate %></td>
                <td><%= tax_rate.start_date.strftime('%Y/%m/%d') %></td>
                <td><%= tax_rate.end_date&.strftime('%Y/%m/%d') %></td>
                <td>
                  <%= render 'shared/index_action_buttons',
                              show_path: tax_rate_path(tax_rate),
                              edit_path: edit_tax_rate_path(tax_rate),
                              delete_path: tax_rate_path(tax_rate) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= render 'shared/masters_back_button' %>
</div>