<div class="container mt-4">
  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white">
      <h1 class="mb-0">税率詳細</h1>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-3 fw-bold">税率名</div>
        <div class="col-md-9"><%= @tax_rate.name %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">税率(%)</div>
        <div class="col-md-9"><%= @tax_rate.rate %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">適用開始日</div>
        <div class="col-md-9"><%= @tax_rate.start_date.strftime('%Y/%m/%d') %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 fw-bold">適用終了日</div>
        <div class="col-md-9"><%= @tax_rate.end_date&.strftime('%Y/%m/%d') %></div>
      </div>
    </div>
    <div class="card-footer">
      <%= render 'shared/show_action_buttons', edit_path: edit_tax_rate_path(@tax_rate), delete_path: tax_rate_path(@tax_rate), back_path: tax_rates_path %>
    </div>
  </div>
</div>