<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>納品先一覧</h1>
    <%= link_to '新規作成', new_delivery_location_path, class: 'btn btn-primary' %>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>顧客名</th>
              <th>納品先名</th>
              <th>郵便番号</th>
              <th>住所</th>
              <th>電話番号</th>
              <th>担当者名</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @delivery_locations.each do |delivery_location| %>
              <tr>
                <td><%= delivery_location.customer.name %></td>
                <td><%= delivery_location.name %></td>
                <td><%= delivery_location.postal_code %></td>
                <td><%= delivery_location.address %></td>
                <td><%= delivery_location.phone %></td>
                <td><%= delivery_location.contact_person %></td>
                <td>
                  <%= render 'shared/index_action_buttons',
                              show_path: delivery_location_path(delivery_location),
                              edit_path: edit_delivery_location_path(delivery_location),
                              delete_path: delivery_location_path(delivery_location) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <%= paginate @delivery_locations %>
  </div>

  <%= render 'shared/masters_back_button' %>
</div>
