<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>単位マスター</h1>
    <%= link_to '新規登録', new_unit_path, class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="table units-index-table" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 300px;">単位名</th>
          <th style="width: 200px;">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @units.each do |unit| %>
          <tr>
            <td><small><%= unit.name %></small></td>
            <td>
              <%= render 'shared/index_action_buttons',
                          show_path: unit_path(unit),
                          edit_path: edit_unit_path(unit),
                          delete_path: unit_path(unit) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'shared/pagination', collection: @units %>

  <%= render 'shared/masters_back_button' %>
</div>
